{% sw_extends "@Storefront/storefront/page/product-detail/description.html.twig" %}

{# shopware-block: 096c939be30fe05f5701918c98269a71ac016be255e8375f274fa8334c554b63@v6.6.5.1 #}
{% block page_product_detail_description_content %}
    {{ parent() }}

    {% block component_product_description_gpsr_title %}
        {% if page.product.manufacturer.extensions.productManufacturerGpsr %}
            <h3 class="product-detail-description-title">
                {{ 'avent.manufacturerGpsr.headline'|trans|sw_sanitize }}
            </h3>
        {% endif %}
    {% endblock %}

    {% block component_product_description_gpsr_content_text %}
        {% if page.product.manufacturer.extensions.productManufacturerGpsr %}
            <div class="product-detail-description-text"
                 itemprop="description">
                {{ page.product.manufacturer.extensions.productManufacturerGpsr.translated.description|raw }}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}